
// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Window-Rules

// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    match app-id="kitty"
    default-column-width {}
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^About Mozilla Firefox$"
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id=r#"firefox$"# title="^Library$"
    match app-id=r#"firefox$"# title="^Bitwarden$"
    match app-id=r#"org.kde.dolphin$"# title="^Moving — Dolphin$"
    match app-id=r#"org.kde.dolphin$"# title="^Copying — Dolphin$"
    match app-id=r#"org.kde.dolphin$"# title="^Progress Dialog — Dolphin$"
    match app-id=r#"^qalculate-gtk$"#
    match app-id=r#"^blueman-manager$"#
    match app-id=r#"^steam$"#
    match app-id=r#"^xdg-desktop-portal$"#
    open-floating true
}

window-rule {
    match is-focused=false

    opacity 0.96
}

window-rule {
    match is-focused=true

    opacity 1.0
}

window-rule {
    // Border radius 
    clip-to-geometry true
    geometry-corner-radius 10
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

// Example: enable rounded corners for all windows.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}
layer-rule {
  match namespace="^wallpaper$" 
  place-within-backdrop true
}


window-rule {
    match app-id=r#"pavucontrol"#
    open-floating true
}

window-rule {
    match app-id=r#"Rofi"#
    open-floating true

}


window-rule {
    match app-id=r#"blueman-manager"#
    open-floating true
}

// Open 5 workspaces
workspace "1"
workspace "2"
workspace "3"


window-rule {
    match app-id="kitty"
    opacity 0.95
}